.container {
  background: rgba(191, 180, 143, 0.4);
}

.jumbotron,
.card-header,
.btn {
  background: rgba(8, 75, 125, 0.4);
}

.card-body {
  background: rgba(242, 239, 233, 0.4);
}

.card-title {
  color: white;
}

.card {
  font-size: 18px;
}

th,
label {
  color: rgba(37, 38, 39, 0.8);
}
